/*
    CONVENTION BEM
    
    .block {}
    .block__element{}
    .block--modifieur
    
    analogie 
    
    .personne{}
    .personne--femme{}
    .personne__main--droite{}
    .personne__main--gauche{}
*/




/* RESET */
body
{
    margin : 0;
    padding : 0;
}





/* MY_CODE */
/*DESIGN GLOBAL*/
body
{
    background-color: #e7b834;
    margin-left: auto;
    margin-right: auto;
    width: 1000px; /*Fuckin magic number*/
}

h1 
{
    color: #111;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1px;
    text-align: center;
}

h2
{
    color: #111;
    font-family: "Open sans" sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 30px;
    text-align: center;
}

ul
{
    color : #685206;
    font-family: "Helvetica Neue" sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}
li
{
    list-style-type: square;
}





/*DESIGN SPECIFIQUE*/

/* resize img*/
td img
{
    width : 250px;
    height : 250px;
    padding: 20px;
}





/*class*/
.tableCompetences
{
    width : 100%;
    height : 200px;
    border: 5px solid ;
    border-collapse: collapse;
    border-color: #d19f12;
}

.tableCompetences thead
{

    height: 150px; /* PAS COMPATIBLE TOUS NAVIAGATEUR !*/
}

.tableCompetences td
{
    border: 5px solid ;
    border-color: #d19f12;
}

