/*
    CONVENTION BEM
    
    .block {}
    .block__element{}
    .block--modifieur
    
    analogie 
    
    .personne{}
    .personne--femme{}
    .personne__main--droite{}
    .personne__main--gauche{}
*/


/* resize img*/
td img
{
    width : 250px;
    height : 250px;
    padding: 20px;
}

.tableCompetences
{
    width : 100%;
    height : 200px;
    border: 1px solid ;
    border-collapse: collapse;
}

.tableCompetences thead
{
    background-color : #b2b2b2;
    height: 150px; /* PAS COMPATIBLE TOUS NAVIAGATEUR !*/
}

.tableCompetences td
{
    border: 1px solid ;
}

.tableCompetences  th
{
    color : #ffffff;
}